.index-main {

  background: rgba(255, 255, 255, 100);

  .horizontal2 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left, .right {
      position: relative;
      overflow: hidden;
    }
  }


  .game-controller {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 90%;
  }
  .computer-img {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 90%;
  }
  .light-purple-bg {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 90%;
    height: 50%;
    background: rgba(240, 245, 255, 100);
    z-index: 1;
  }


  .for-brand-label {
    margin-top: 100px;
    margin-left: 10%;
    
    font-size: 38px;
    color: #1CCCB2;
    letter-spacing: 0.95px;
  }

  .gray-bar {
    display: block;
    width: 100px;
    height: 5px;
    margin: 50px 7%;
    background:rgba(229, 229, 229, 100);
  }
  .desc {
    margin: 70px 10%;
    font-size: 20px;
    color: #969696;
    letter-spacing: 0;
    line-height: 32px;
  }

  .get-started-button {
    display: inline-block;
    width: 220px;
    height: 81px;
    line-height: 81px;
    border: 1px solid #08F5D7;
    border-radius: 5px;
    font-size: 18px;
    color: #0DAF99;
    text-align: center;
    font-size: 18px;
    color: #0DAF99;
    letter-spacing: 0;
    text-align: center;
    margin-left: 10%;
  }
  .open-your-story-button {
    display: inline-block;
    width: 270px;
    height: 81px;
    line-height: 81px;
    border: 1px solid #08F5D7;
    border-radius: 5px;
    font-size: 18px;
    color: #0DAF99;
    text-align: center;
    font-size: 18px;
    color: #0DAF99;
    letter-spacing: 0;
    text-align: center;
    margin-left: 10%;
  }
  .checkout-dev-tool-button {
    display: inline-block;
    width: 300px;
    height: 81px;
    line-height: 81px;
    border: 1px solid #08F5D7;
    border-radius: 5px;
    font-size: 18px;
    color: #0DAF99;
    text-align: center;
    font-size: 18px;
    color: #0DAF99;
    letter-spacing: 0;
    text-align: center;
    margin-left: 10%;
  }




  .dev-list {
    margin: 0 13%;
    z-index: 999;
  }
  .dev-item {
    padding: 10px 30px 10px 10px;
    background: white;
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.08);
    margin: 20px 10px;
    display: flex;
    align-items: center;
    img {
      max-width: 90px;
    }
    .label {
      flex-grow: 1;
      margin-left: 10px;
      font-size: 24px;
      color: #424242;
      letter-spacing: 0.6px;
    }
  }


  .part3 {
    padding-bottom: 100px;
  }
  .flex {
    display: flex;
    align-items: center;
    * {
      flex-grow: 1;
    }
  }




  @media (max-width: 900px) {
    .horizontal2 {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .game-controller {
      width: 100%;
    }

    .dev-list {
      margin: 0 5%;
    }
    .dev-item {
      .label {
        font-size: 18px;
      }
    }


  }

}