.index-footer {
  background-color: rgba(28, 95, 231, 100);
  padding: 50px 30px;


  .footer-menu {
    margin-top: 50px;
  }
  .footer-menu-item {
    opacity: 0.6;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
    line-height: 27.2px;
  }

  .get-in-touch {
    background-color: rgba(36, 105, 243, 100);
    border-radius: 5px;
    padding: 50px 40px;

    .label {
      font-size: 24px;
      color: rgba(255, 255, 255, 100);
      letter-spacing: 0.6px;
    }

    .subscribe-box {
      border-radius: 5px;
      margin-top: 30px;
      background-color: #3574F3;
      height: 40px;
      display: flex;
      overflow: hidden;

      input {
        background-color: transparent;
        padding-left: 10px;
        border: 0;
        height: 100%;
        flex-grow: 1;
        overflow: hidden;
        &::placeholder {
          color: rgb(180, 180, 180);
        }
      }
      button {
        height: 100%;
        flex-basis: 130px;
        width: 130px;
        background-color: #81FEF2;
        border: none;
        font-size: 18px;
        color: #2469F3;
        letter-spacing: 0;
        text-align: center;
      }
    }
  }

  .copyright {
    opacity: 0.5;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: 50px;
  }


  @media (max-width: 760px) {
    .footer-menu {
      text-align: center;
    }
    .get-in-touch {
      padding: 50px 20px;
    }
  }

}